<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <a href="{% url 'profile' %}">{{ request.user.username }}</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <p>Ваші освітлювальні пристрої:</p>
        {% for light in lights %}
            <button onclick="location.href='{% url 'light_control' light.entity_id %}'">{{ light.attributes.friendly_name }}</button>
        {% endfor %}
    {% endif %}


</body>
</html>